 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>会员注册页面</title>
    <link type="text/css" rel="stylesheet" th:href="@{static/css/style.css}" />
    <link rel="stylesheet" th:href="@{static/css/register.css}" />
    <style type="text/css">
      .login_form {
        height: 420px;
        margin-top: 25px;
      }
    </style>
  </head>
  <body>
    <div id="login_header">
      <a href="../../index.html">
        <img class="logo_img" alt="" th:src="@{static/img/logo.gif}" />
      </a>
    </div>

    <div class="login_banner">
      <div class="register_form">
        <h1>注册会员</h1>
        <form th:action="@{jumpHtml(jump='regist_success')}" method="post">
          <div class="form-item">
            <div>
              <label>用户名称:</label>
              <input type="text" onblur="f()"  class="login_formp"  id="kkk" name="id" placeholder="请输入用户名" />
            </div>
            <span class="errMess">用户名应为6~16位数组和字母组成</span>
          </div>
          <div class="form-item">
            <div>
              <label>用户密码:</label>
              <input type="password" onblur="f1()" class="login_formp" id="pas" name="password" placeholder="请输入密码" />
            </div>
            <span class="errMess">密码的长度至少为8位</span>
          </div>
          <div class="form-item">
            <div>
              <label>确认密码:</label>
              <input type="password" onblur="f2()" class="login_formp" id="pas1"  name="password2" placeholder="请输入确认密码" />
            </div>
            <span class="errMess">密码两次输入不一致</span>
          </div>
          <div class="form-item">
            <div>
              <label>用户邮箱:</label>
              <input type="text" onblur="f3()" name="em" class="login_formp" id="emm"   placeholder="请输入邮箱" />
            </div>
            <span class="errMess">请输入正确的邮箱格式</span>
          </div>
          <div class="form-item">
            <div>
              <label>验证码:</label>
              <div class="verify">
                <input class="login_formp" id="yzm" style="width: 125px;margin-right: 37px;" type="text" placeholder="" />
                <div class="img" style="font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;margin-right: 15px; width: 85px;"></div>
              </div>
            </div>
            <div style="display: flex">
              <span class="errMess">请输入正确的验证码</span>
              <a href="#" style="font-size: 12px;text-decoration: none;color: #39987c" class="button">看不清,换一张</a>
            </div>
          </div>
          <button id="btn" class="btn">注册</button>
        </form>
      </div>
    </div>
    <div id="bottom">
      <span>
        Deer.Copyright &copy;2022
      </span>
    </div>
  </body>
</html>
 <script>



   var inp=document.getElementsByClassName("login_formp");
   var text=document.getElementsByClassName("errMess");
   const pass = /^[a-zA-Z0-9_-]{6,16}$/;
   const pass1 = /^[0-9a-zA-Z]{8,16}$/;
   const em = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
   var btn=document.getElementById("btn");



   // 获取刷新验证码按钮
   var button = document.querySelector(".button");
   // 获取验证码图片
   var img = document.querySelector(".img");

   // 验证码字符
   var chars = "qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM1234567890";

   // 生成m-n的数字
   function getRandom(m,n){
     return Math.floor(Math.random()*(n-m+1)+m);
   }
   // 验证码禁用文本选中
   img.addEventListener("selectstart",function(e){
     e.preventDefault();
   })
   // 生成随机验证码
   function run(){
     str = '';
     // 若验证码存在，则清除
     while(img.hasChildNodes()){
       img.removeChild(img.firstChild);
     }
     // 生成6位数的验证码
     for(var i=0;i<6;i++){
       var span = document.createElement('span');
       span.innerHTML = chars[getRandom(0,chars.length-1)]; //生成随机数，并取得对应值
       span.style.display = "inline-block";
       span.style.fontSize = getRandom(16,24)+"px";  //随机字体大小
       span.style.color = 'rgb('+getRandom(0,200)+','+getRandom(0,200)+','+getRandom(0,200)+')';  //随机字体颜色
       span.style.transform = 'translate('+getRandom(-5,5)+'px,'+getRandom(-5,5)+'px) rotate('+getRandom(-20,20)+'deg)'; //随机平移旋转
       str += span.innerHTML; //将str拼接，和input值对比
       img.appendChild(span);
     }
     return str;
   }
   var str = run(); //进入页面生成验证码
   img.addEventListener("click",run);

   button.addEventListener("click",function(e){
     str = run();
     e.preventDefault();
   })
   //点击注册按钮判断input的值是否为都满足条件如果满足返回true否则返回false
   btn.onclick=function(){
     var kkka=document.getElementById("pas").value
     var kkk=document.getElementById("pas1").value

     var username=document.getElementById("kkk").value
     var emm=document.getElementById("emm").value
     var yzm=document.getElementById("yzm").value
     if (  kkk===kkka && pass.test(username) && pass1.test(kkka)&& em.test(emm)&& yzm===str.toLowerCase()){
       return true;
     }else {
      return  false;
     }

   }


   inp[0].onblur=function f() {
     var kkk=document.getElementById("kkk").value

     if (pass.test(kkk)){

       text[0].style.visibility="hidden"
     }else {

       text[0].style.visibility="visible";
     }
   }

   inp[1].onblur=function f() {
     var kkk=document.getElementById("pas").value
     if (pass1.test(kkk)){
       console.log("密码正确")
       text[1].style.visibility="hidden"
     }else {


       text[1].style.visibility="visible";
     }
   }


   inp[2].onblur=function f() {
     var kkka=document.getElementById("pas").value
     var kkk=document.getElementById("pas1").value
     if (kkk===kkka ){
       console.log("密码正确")
       text[2].style.visibility="hidden"
     }else {

       text[2].style.visibility="visible";
     }
   }


   inp[3].onblur=function f() {
     var kkk=document.getElementById("emm").value
     if (em.test(kkk)){
       console.log("密码正确")
       text[3].style.visibility="hidden"
     }else {

       text[3].style.visibility="visible";
     }

   }
   inp[4].onblur=function f() {
     var yzm=document.getElementById("yzm").value
     if (yzm==str.toLowerCase()){
       console.log("密码正确")
       text[4].style.visibility="hidden"
     }else {

       text[4].style.visibility="visible";
     }

   }


 </script>
